.DS_Store
.idea/
.vscode/
*.swp

.env
.env.*

*.test
*.out
coverage.*

node_modules/
npm-debug.log*

.expo/
dist/
web-build/
expo-env.d.ts
app/ios/
app/android/

.maestro/screenshots/

*.bin
tmp/

backend/.tools/
